#logo{
 float: left;
 width: 58px;
 margin: 0 auto;
 border-radius: 50%;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    font-size: 50px;
    color: green;
    box-shadow: 0px 5px 27px;
    width: 100%;
    background-color: #85d98594;
    border-radius: 30px;
    padding: 10px;
    margin: 0 auto;
}
.nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction: column;
    font-size: 20px;
    color: green;
    width: 100%;
    background-color: #85d98594;
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px;
    box-shadow: 0px 5px 27px;
    border-radius: 10px;
}
.nav a{
    color: green;
    display:inline-block;
    padding:10px;
}
.ssilki{
    width: 100%;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    vertical-align: middle;
    box-shadow: 0px 5px 27px;
    border-radius: 10px;
    background-color: #85d98594;
    color: green;
    align-items:center;
    margin: 0 auto;
    margin-top: 15px;
}
.ssilki a{
    color: green;
    display:inline-block;
    padding:5px;
}
.form{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    width: 100%;
    box-shadow: 0px 5px 27px;
    border-radius: 10px;
    background-color: #85d98594;
    color: green;
    align-items:center;
    margin-top: 15px;
}
.table{
    width: 100%;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    box-shadow: 0px 5px 27px;
    border-radius: 10px;
    background-color: #85d98594;
    color: green;
    align-items:center;
    margin: 0 auto;
    margin-top: 15px;
    line-height: 100%;
}
.table table{
    margin: 0 auto;
}
.form form{
    margin: 0 auto;
}
.ssilki ul{
    margin: 0 auto;
}
.header p{
    margin: 0 auto;
}
.footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
}
@media screen and (min-width: 800px) and (orientation: landscape) {
    .header {
        flex-direction: row;
    }
    .nav {
        flex-direction: row;
    }
    .ssilki{
        flex-direction: row;
    }
    .form {
        flex-direction: row;
    }